<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associações</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <h1>Associações</h1>

    <table>
        <thead>
            <tr>
                <th>Pessoa</th>
                <th>Carro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="associationList"></tbody>
    </table>
</div>

    <script type="module" src="../scripts/association.script.js" defer></script>
</body>
</html>